

.contacto{
    background: $color-dorado-claro;
    padding: 30px;
    .titulo-contacto{
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align:center ;
        font-weight: bold;
        color: white;
    }
    h1{
        color: black;
    }
    .row{
        .contacto-row{
            flex-direction: column;
            align-content: center;
        }
        .center{
            text-align: center;
            align-items: center;
            align-content: center;
            justify-content: center;
            .btn-contacto{
                width: 100%;
                height: auto; 
                background-color: black;
            }
        }
        .btn-contacto{
            font-size: 2em;
            transition: 0.5s;
            &:hover{
                font-size: 3em;
                filter: drop-shadow(0 0 20px $color-dorado)
            }
        }
        
    }

}

